@font-face {
  font-family: 'Carentro';
  src: url('../fonts/Carentro.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circusia';
  src: url('../fonts/Circusia.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama-Black';
  src: url('../fonts/Flama-Black.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama-Bold';
  src: url('../fonts/Flama-Bold.otf');
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama-Book';
  src: url('../fonts/Flama-Book.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama-Light';
  src: url('../fonts/Flama-Light.otf');
  font-weight: lighter;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama-Medium';
  src: url('../fonts/Flama-Medium.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FlamaCondensed-Basic';
  src: url('../fonts/FlamaCondensed-Basic.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FlamaCondensed-Bold';
  src: url('../fonts/FlamaCondensed-Bold.otf');
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FlamaCondensed-Book';
  src: url('../fonts/FlamaCondensed-Book.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FlamaCondensed-Medium';
  src: url('../fonts/FlamaCondensed-Medium.otf');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FlamaSemicondensed-Light';
  src: url('../fonts/FlamaSemicondensed-Light.otf');
  font-weight: lighter;
  font-size: normal;
  font-display: swap;
}
