* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  text-rendering: optimizeSpeed;
  font-size: 16px;
  font-family: $carentro;
  scroll-behavior: smooth;
}

body {
  font-family: $carentro;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
