$carentro: 'Carentro';
$circusia: 'Circusia';
$flama-black: 'Flama-Black';
$flama-bold: 'Flama-Bold';
$flama-book: 'Flama-Book';
$flama-light: 'Flama-Light';
$flama-medium: 'Flama-Medium';
$flamaCsd-basic: 'FlamaCondensed-Basic';
$flamaCsd-bold: 'FlamaCondensed-Bold';
$flamaCsd-book: 'FlamaCondensed-Book';
$FlamaCsd-medium: 'FlamaCondensed-Medium';
$FlamaSemiCsdLight: 'FlamaSemicondensed-Light';

$y_primay: #d88e00;
$y_second: #edcb7e;
$y_third:#9e7c3a;
$y-fourth: #d2c6ad;
$opacity-menu: rgba(0, 0, 0, 0.2);